/* HEADER */ 

header {
 align-items: center;
 width: 100%;
 margin: auto;
 position: sticky;
top: 0;
 background-color:#917681;
}

/* SECTION */ 

section {
width: 50%;
margin: auto;
padding: 30px;
 padding-top: 15px;
border: 20px solid #B5838D;
 background-color: #EAD7D7;
}

/* DIV */ 

 div {
    text-align: center;
  }

/* FOOTER */ 

footer {
width: 100%;
margin: auto;
background: #483245;
color: #ffffff;
text-align: center;
 padding: 15px;
}

button { 
 display: block;
 margin-left: auto;
 margin-right: auto;
}

/* CONTACT BUTTON ANIMATION */ 

.button:hover img {
  animation: shake 0.25s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* SECTION BACKGROUND */ 

.tiledBackground {
 background-image: url(images/bg-paper-texture.jpg);
  background-size: 150px;
  width: 700px;
  height: fit-content;
}

/* LINK STYLE */ 

a:link {
color: #483245;
}
a:visited { 
 color: #181117;
}
a:hover {
color: #0D0809;
}

/* TEXT STYLES */ 

h1 {
  font-size: 40pt;
 font-weight: normal;
 margin-bottom: 20px;
}

h2 {
 font-size: 25pt;
 font-style: italic;
 
}

h3 {
  font-size: 20pt;
}

h1, h2, h3 {
 font-family: "Eb Garamond", serif;
 font-weight: normal;
 text-align: center;
 text-transform: lowercase;
}

p, ol, ul, a:link {
  font-size: 12pt;
}

a:link {
  font-style: bold;  
}

p, ol, ul, a:link {
font-family: "Courier New", monospace;
}
