/* SECTION STYLES */ 

section {
 background-image: url("bg-paper-texture.jpg");
 background-repeat: tile;
background-size: cover;
}

/* TEXT STYLES */ 

h1 {
  font-size: 37pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

h1, h2, h3 {
 font-family: "Eb Garamond", serif;
 font-style: regular;
 text-align: center;
 text-transform: lowercase;
}

p {
  font-size: 11pt;
}

a:link {
  font-size: 12pt;  
}

p, a:link {
font-family: "Courier New", monospace;
}
