/* CONTAINER STYLES */ 

header {
 postion: fixed;
 width: 50%;
 margin: auto;
}

linkedinicon:hover {
   animation: shake 0.5s;
 color: #FFCDB2
}

emailicon:hover {
   animation: shake 0.5s;
 color: #FFCDB2
}

githubicon:hover {
   animation: shake 0.5s;
 color: #FFCDB2
}

section {
 width: 50%;
 margin: auto;
}

footer {
width: 50%;
margin: auto;
}

/*

I want the main containers to have a cool rich paper texture bg but it looks like doodoo for now so until I can fix it I'm commenting it out

section {
 background-image: url("bg-paper-texture.jpg");
 background-repeat: tile;
background-size: cover;
}*/ 

/* TEXT STYLES */ 

h1 {
  font-size: 37pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 14pt;
}

h1, h2, h3 {
 font-family: "Eb Garamond", serif;
 font-style: normal;
 text-align: center;
 text-transform: lowercase;
}

p {
  font-size: 11pt;
}

a:link {
  font-size: 12pt;  
}

p, a:link {
font-family: "Courier New", monospace;
}
